body{
	margin:0;
	height: 100vh;
	width: 100%;
}
#container{
	height: 100vh;
	width: 100%;
	scroll-behavior: smooth;
	overflow-y: scroll;
}
#container div{
 	height: 100vh;
	width: 100%;
}
#container div h1{
	text-align: center;
	width: 100%;
	margin:0;
	padding: 0;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

}
ul{
	list-style-type: none;
	position: fixed;
	top: 30%;
	left: 0;
	transform: translate(-50%);
}
ul li{

	z-index: 1;
}
ul li a{
	display: block;
	padding: 10px;
	background-color: white;
	height: 20px;
	border-radius: 10px;
	border: 1px solid black;
	text-decoration: none;
	font-size: 25px;
	padding-left: 100px;
}
ul li a:hover{
	background-color: black;
	color: white;
}
ul li a:active{
	background-color: grey;
}
#s1{
	background-color: #f7c9ff;
}
#s2{
	background-color: #ffeb7c;
}
#s3{
	background-color: #ffa7a3;
}
